@model IEnumerable<PROJECT_GESTOR_V3.Models.Fabricante>

@{
    ViewData["Title"] = "Lista de Fabricantes";
}


<h2>@ViewData["Title"]</h2>


<p>
    <a asp-action="Criar">Adicionar novo fabricante</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Fabricante item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Id)</td>
                <td>@Html.DisplayFor(model => item.Nome)</td>
            </tr>
        }

    </tbody>

</table>